body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.item-list div {
    position: relative;
    z-index: 10;  /* Met les étiquettes au premier plan */
}



.item-list div:hover {
    background-color: #e0e0e0;
}

#selectedItemsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#selectedItemsTable th, #selectedItemsTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
